* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./Images/cream-pebbles.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#calculator-container {
  border: 2px, solid, rgb(209, 195, 184);
  display: flex;
  flex-direction: column;
  padding: 7px;
  height: 440px;
  width: 300px;
  background-color: rgb(194, 182, 172, 50%);
  backdrop-filter: blur(2px);
  border-radius: 16px;
  margin-top: 25vh;
}

#header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: rgb(166, 156, 147, 40%);
  min-height: 60px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 30px;
}

#button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-content: center;
}

.btn {
  border-radius: 10px;
  border: none;
  height: 66.5px;
  width: 66.5px;
  font-size: 20px;
}

.operand {
  background-color: orange;
}
