* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./Images/cream-pebbles.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#calculator-container {
  border: 2px, solid, rgb(209, 195, 184);
  display: flex;
  flex-direction: column;
  padding: 7px;
  height: 460px;
  width: 300px;
  background-color: rgb(194, 182, 172, 50%);
  backdrop-filter: blur(2px);
  border-radius: 16px;
  margin-top: 25vh;
}

#header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: rgb(166, 156, 147, 40%);
  min-height: 80px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 40px;
  color: #323232;
}

#button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-content: center;
}

.btn {
  border-radius: 10px;
  border: none;
  height: 66.5px;
  width: 66.5px;
  font-size: 23px;
  color: #323232;
  background-color: rgb(239, 239, 239, 60%);
  backdrop-filter: blur(2px);
  cursor: pointer;
}

#delete-btn {
  background-color: rgb(243, 2, 0, 60%);
  backdrop-filter: blur(2px);
}

#divide-btn,
#multiply-btn,
#minus-btn,
#plus-btn,
#equal-btn,
#plus-minus,
#percentage,
#delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#divide-btn img,
#multiply-btn img,
#minus-btn img,
#plus-btn img,
#equal-btn img,
#plus-minus img,
#percentage img {
  height: 23px;
}

#delete-btn img {
  height: 30px;
}

#delete-btn:hover {
  transform: scale(1.05);
  background-color: rgb(243, 2, 0, 90%);
}

#decimal-point {
  font-size: 30px;
}

.operand {
  background-color: rgb(255, 165, 2, 60%);
  backdrop-filter: blur(1px);
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.active {
  background-color: rgb(255, 165, 2, 100%);
}

.operand:hover {
  transform: scale(1.05);
  background-color: rgb(255, 165, 2, 90%);
}

.number:hover {
  transform: scale(1.05);
  background-color: rgb(239, 239, 239, 90%);
  transition: background-color 0.2s ease, transform 0.2s ease;
}
